@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  margin:0;
  outline:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Righteous', cursive;
}

html,body,#root{
  height:100%;
  font-family: 'Righteous', cursive;
  background-image: url('/assets/bg.jpg');
  background-size: cover;
  color: #ffffff;
}
body::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

body::-webkit-scrollbar-button:start:decrement,
body::-webkit-scrollbar-button🔚increment {
  display: block;
  height: 0;
  background-color: transparent;
}

body::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  opacity: 0.1;
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

body::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #ccc;
  -webkit-border-radius: 8px;
}

.container_head{
  /**border: 3px solid green;**/
  height: 95vh;
  padding: 3rem 5rem 5rem 5rem;
}

.container_img_head{
  border: 1px solid red;
  float: left;
}

.container_text_head{
  border: 3px solid green;
}

.container{
  padding: 2rem 2rem 2rem 2rem;
}

.container_funcoes{
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  height: 100vh;
  border: 1px solid yellow;
}

.container_funcao_hero{
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.card_hero_img_text{
  border: 1px solid red;
}

.container_table{
  height: 100vh;
  border: 1px solid yellow;
}

.container_title_table{
  padding-bottom: 3rem;
  text-align: center;
}

table{ /** Faz o estilo da tabela inteira. **/
  background: orange; /** Coloca um fundo laranja. **/
  border: solid 1px;
  border-collapse: collapse;
  width: auto;
}

tr{/** Faz o estilo para as linhas. **/
  text-align: center; /** Centraliza o conteúdo. **/
}

th{/** Faz o estilo para as células do cabeçalho. **/
  background: #666; /** Muda para um fundo cinza. **/
  color: white; /** Troca a cor da fonte para branco. **/
  border: solid 1px;
  border-collapse: collapse;
}

td .esquerda{ /** É feito o estilo das celulas com o auxilio de uma classe. **/
  text-align: left; /**Alinha o texto da primeira coluna para esquerda. **/
  border: solid 1px;
  border-collapse: collapse;
}

td .centro{
  text-align: center; /**Centraliza o texto. **/
}

td .direita{
  text-align: right; /**Coloca o texto para esquerda. **/
} 